.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  font-family: "Segoe UI", sans-serif;
}

.auth-box {
  background: #fff;
  padding: 2.5rem;
  width: 400px;
  border-radius: 16px;
  border: 1px solid #e5e5e5;
}

.auth-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.auth-tabs span,
.auth-tabs a {
  cursor: pointer;
  padding-bottom: 0.4rem;
  text-decoration: none;
  color: #888;
}

.auth-tabs .active {
  font-weight: bold;
  border-bottom: 2px solid #4fbf8b;
  color: #4fbf8b;
}

.auth-tabs a:hover {
  color: #4fbf8b;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  padding: 0.7rem;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #444;
}

input {
  width: 100%;
  padding: 0.6rem; /* smaller inputs */
  margin-top: 0.4rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem; /* slightly smaller font */
}

input:focus {
  border-color: #4fbf8b;
  outline: none;
}

.forgot {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 0;
}

.forgot a {
  font-size: 0.85rem;
  color: #4fbf8b;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

.btn-primary {
  width: 100%;
  padding: 12px;
  border: none;
  background: #4fbf8b;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1rem;
}

.btn-primary:hover {
  background: #4fbf8b;
}

.divider {
  text-align: center;
  margin: 1.5rem 0;
  color: #aaa;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1px;
  background: #ddd;
  top: 50%;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

.btn-social {
  width: 100%;
  padding: 12px;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  cursor: pointer;
  font-size: 0.95rem;
}

.btn-social:hover {
  background: #f8f9fa;
}

.switch {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.switch a {
  color: #4fbf8b;
  text-decoration: none;
  font-weight: 600;
}

.switch a:hover {
  text-decoration: underline;
}

.password-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ddd; /* optional: make it look like a single field */
  border-radius: 8px;
  padding: 0 8px;
}

.password-wrapper input {
  flex: 1; /* input takes remaining space */
  border: none;
  outline: none;
  padding: 8px; /* smaller */
  font-size: 0.95rem;
}

.toggle-password {
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 8px;
  user-select: none;
  background: transparent;
}

.toggle-password img {
  width: 40px;
}

.form-group input:focus {
  box-shadow: none;
}
